POSTGRES_DB=ton_prices
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PORT=4000
NODE_ENV=production
POSTGRES_SSL=false
POSTGRES_LOGGING=false
DB_SYNCHRONIZE=false

KAFKA_GROUP_ID=prices-service-consumer
KAFKA_TOPIC=ton.prices.raw
KAFKA_FROM_BEGINNING=false
KAFKA_SSL=false
KAFKA_ALLOW_AUTO_TOPIC_CREATION=true

WS_PATH=/ws/prices
WS_HEARTBEAT_MS=30000

LOG_LEVEL=info
POLL_INTERVAL_MS=5000
SYMBOL=TONUSDT
ENABLE_EXCHANGES=bybit,bitget,stonfi,dedust

NEXT_PUBLIC_API_BASE_URL=http://localhost
NEXT_PUBLIC_WS_URL=ws://localhost/ws/prices
NEXT_PUBLIC_SYMBOL=TONUSDT